# Generic ignores
*~

# Ignore build directory
/build

# Don't include any of v8
/v8

# Don't include the Cairo libraries
/cairo
/pixman

# Ignore Debug and Release directories
Debug
Release

# Ignore Visual Studio stuff
*.suo
*.sdf
*.opensdf
*.user
/ipch
