This is a "special" template in that it's split into sections using a fake
SHTML syntax. This first section is ignored.

Sections previous to a single section can be included using the new
include directive, like <!--#include "something"-->. This won't work here,
as "something" has yet to be declared, but it doesn't matter, because this
part of the template isn't used anywhere else.

Note that <!--#include--> is a "preprocessor" include and dumps the raw
text of the section being included.
<!--#section "body"-->
		<div class="row">
			<div class="col-md-12">
				<h1><%=thing.longname%></h1>
				<p><%=description%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%_.each(categories, function(category) {
					if (category.contents.length > 0) { %>
				<div class="row"><div class="col-md-12"><h1><%-category.title%></h1>
<%
					var kindTemplate = category.kindTemplate;
					if (kindTemplate == null) {
						kindTemplate = function() { return "[no template for " + category.kind + "]"; };
					}
					_.each(category.contents, function(thing) {
						%><%=kindTemplate({"thing": thing, "template": template, "templates": templates})%><%
					});
%>
					</div>
				</div>
<%					}
				}); %>
			</div>
		</div>
<!--#section "badges"-->
<% if (thing.readonly) {%><span class="label label-default">read only</span><% } %>
<!--#section "kindType"-->
<%
if (type && type.type) {
	type = type.type;
}
if (!type) {
	%><span class="type type-none">no type specified</span>
<%} else if (type == 'NUMBER') {
	%><span class="type type-number">number</span>
<%} else if (type.names) {
	%><span class="type"><%
	var comma = false;
	_.each(type.names, function(t) {
		if (comma) {
			%>, <%
		} else {
			comma = true;
		}
		t = String(t);
		// FIXME: Need to support arrays and other things like that
		if (template.getNamedObject(t)) {
			%><%=template.makeLink(t)%><%
		} else {
			%><%-t%><%
		}
	});
	%></span><%
} else {
	console.log('What is this?');
	console.log(type);
	%><span class="type"><%-String(type)%></span><%
}%>
<!--#section "kind.member"-->
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title" id="<%-thing.name%>"><!--#include "badges"--><%=templates.kindType({'type':thing.type,'template':template})%><%-thing.name%></h3></div>
				<div class="panel-body">
					<p><%=template.replaceLinks(thing.description)%></p>
				</div>
			</div>
<!--#section "kind.function"-->
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title" id="<%-thing.name%>"><%
if (thing.returns) {
	_.each(thing.returns, function(type) {
		%><%=templates.kindType({'type':type,'template':template})%><%
	});
}
%><!--#include "badges"--><%-thing.name%>(<%
var comma = false;
_.each(thing.params, function(param) {
	if (comma) {
		%>, <%
	} else {
		comma = true;
	}
	%><%-param.name%><%
});
%>)</h3></div>
				<div class="panel-body">
					<p><%=template.replaceLinks(thing.description)%></p>
<% if (thing.params && thing.params.length > 0) { %>
					<h4>Parameters</h4>
					<dl class="function-params">
<%_.each(thing.params, function(param) {
	%><dt><%
		if (param.optional) {
			%><span class="label label-default">optional</span><%
		}
		if (param.nullable) {
			%><span class="label label-default">nullable</span><%
		}
		if (param.variable) {
			console.log("Found a variable:");
			console.log(param.variable);
			%><span class="label label-default">variable</span><%
		}
%><%=templates.kindType({'type':param.type,'template':template})%><%-param.name%><%
if (param.defaultvalue) {
	console.log("Found a default value:");
	console.log(param.defaultvalue);
}
%></dt>
	<dd><%=template.replaceLinks(param.description)%></dd><%
});
%>					</dl>
<% }
if (thing.returns && thing.returns.length > 0) {
	%><h4>Returns</h4><dl class="function-returns"><%
	_.each(thing.returns, function(ret) {
	%><dt><%
		// I'm not certain any of this makes sense for return values, but whatever
		if (ret.optional) {
			%><span class="label label-default">optional</span><%
		}
		if (ret.nullable) {
			%><span class="label label-default">nullable</span><%
		}
		if (ret.variable) {
			console.log("Found a variable:");
			console.log(param.variable);
			%><span class="label label-default">variable</span><%
		}
%><%=templates.kindType({'type':ret.type,'template':template})%></dt>
	<dd><%=template.replaceLinks(ret.description)%></dd><%
	});
} %>
				</div>
			</div>
<!--#section "kind.class"-->
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title" id="<%-thing.name%>"><!--#include "badges"--><a href="<%=thing.url%>"><%-thing.name%></a></h3></div>
				<div class="panel-body">
					<p><%=template.replaceLinks(thing.description)%></p>
				</div>
			</div>
<!--#section "kind.mixin"-->
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title" id="<%-thing.name%>"><!--#include "badges"--><a href="<%=thing.url%>"><%-thing.name%></a></h3></div>
				<div class="panel-body">
					<p><%=template.replaceLinks(thing.description)%></p>
				</div>
			</div>
<!--#section "kind.namespace"-->
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title" id="<%-thing.name%>"><!--#include "badges"--><a href="<%=thing.url%>"><%-thing.name%></a></h3></div>
				<div class="panel-body">
					<p><%=template.replaceLinks(thing.description)%></p>
				</div>
			</div>