<% // Template for the index content.
if (readme) { %>
		<div class="row">
			<div class="col-md-12">
				<%=readme%>
			</div>
		</div>
<% } %>
		<div class="row">
			<div class="col-md-12">
				<%_.each(categories, function(category) {
				}); %>
			</div>
		</div>