/* Stylesheet for JSVSynth documentation.
   Eventually this will probably be moved to a LESS file.
   This is basically a stripped down version of Bootstrap
   (http://getbootstrap.com/) */

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

code, pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
	padding 0 3px 2px;
	border-radius: 3px;
}

code {
	background-color: #F7F7F7;
	border: solid 1px #e1e1e8;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* Needed because marked uses <pre><code> for code segments */
pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}
